# Node modules and dependency files
/node_modules/
**/node_modules/
/yarn.lock

# Environment files
/.env

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
apps/web/.next/trace
packages/api/logs/combined.log
